#dropdown {
	list-style-type: none;
	margin-left: 0 auto;
	position: absolute;
	max-width: 180px;
}

#dropdown li {
	width:180px;
	height: 28px;
	border: 2px ;
	border-style: 0;
	border-radius: 20px;
	margin: 2px;
	overflow: hidden;
	background: #fff;
	display: inline-block;
	transition: all 0.4s ease-out;
	float: left;
	text-align: left;
	font-weight: 800;
	font-size: 16pt;
	padding-left: 10px;
}

#dropdown>li>ul>li {
	height: 30px;
	border: 0px solid ;
	list-style-type: none;
	margin-left: 0 auto;
	background: #fff;
	text-align: left;
	font-weight: 800;
	font-size: 12pt;
	opacity: 0.3;
	transition: text-shadow 0.5s ease, opacity 0.8s ease;
}

#dropdown>li>ul>li:hover {
	opacity: 1;
	text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #8888ff;
}

#dropdown>li:hover {
	height: 200px;
}

section {
	display: block;
	border: 1px solid gray;
}

hr {
	width: 95%;
	color: skyblue;
}